@charset "UTF-8";  

body {
    background-image: url(imagens/download.jpeg);
}

#titulo {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #fffffe;
    background-color: #363636;
    text-shadow: 1px 1px 1px #000000;
    padding: 10px;
    margin: 15px;
}
#botaoIniciar, #botaoListar, #botaoAdd, #botaoUpd, #botaoRemove, #botaoListaPorEditora, #botaoListaPorCategoria {
padding: 5px;
margin: 5px;
background-color: #18242d;
color: #fffffe;
font-family: 'Courier New', Courier, monospace;
text-shadow: 1px 1px 1px #000000;
font-size: 15px;
}
#botaoIniciar:hover, #botaoListar:hover, #botaoAdd:hover, #botaoUpd:hover, #botaoRemove:hover, #botaoListaPorEditora:hover,#botaoListaPorCategoria:hover {
    background-color: #3e5362;
}
span#burger {
    background-color: rgb(42, 42, 42);
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
#itens {
    display: none;
}

span#burger:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}
