@charset "UTF-8";  

body {
    background-image: url(imagens/download.jpeg);
}

#titulo {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #fffffe;
    background-color: #363636ec;
    text-shadow: 1px 1px 1px #000000;
    padding: 10px;
    margin: 15px;
}
#container {
    border-radius: 10px;
    background-color: rgba(26, 26, 26, 0.855);
    max-width: 1300px;
    margin: 20px auto;
    flex-direction: column;
    padding: 12px;
}
#botaoIniciar, #botaoListar, #botaoAdd, #botaoUpd, #botaoRemove, #botaoListaPorEditora, #botaoListaPorCategoria {
padding: 5px;
margin: 5px;
background-color:  #2c3136;
color: #f5f5f5;
border: 1px solid #000000;
border-radius: 5px;
cursor: pointer;
font-family: 'Courier New', Courier, monospace;
text-shadow: 1px 1px 1px #000000;
font-size: 15px;
transition: all 0.3s ease-in-out;
}
#botaoIniciar:hover, #botaoListar:hover, #botaoAdd:hover, #botaoUpd:hover, #botaoRemove:hover, #botaoListaPorEditora:hover,#botaoListaPorCategoria:hover {
    background-color: #b61d22;
    color: #ffffff;
    border-color: #e62429;
}
span#burger {
    background-color: rgb(42, 42, 42);
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
#itens {
    display: none;
}

span#burger:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}
.hq-info {
    margin: 0;
    font-size: 0.9em;
    color: #b3b3b3;
    flex-grow: 1;