@charset "UTF-8";

@media screen and (min-width: 768px) {

  
  span#burger {
    display: none;
  }

 
  #itens {
    display: block;
  }
  

  #itens ul {
    display: flex;          
    justify-content: center; 
    list-style: none;       
    padding: 0;
    gap: 15px;            
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    span#burger {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul {
        display: inline-block;
    }
    main {
        width: 768px;
    }
} 
    }